/*
<div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
            
            </div>
            <div class="col-md-4">
            
            </div>
        </div> 
       </div>
*/


/*
default Color code: #00e5ff; 
*/
@import url('https://fonts.googleapis.com/css?family=Abel|Titillium+Web|Ubuntu|Share+Tech+Mono|Turret+Road|Poiret+One&display=swap');

/*
font-family: 'Abel', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Poiret One', cursive;
*/
* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
    /*overflow specifies what should happen if content overflows an element's box*/
    z-index: -1;
}

/*-------------Navbar--------------*/
.navbar li a {
    font-size: 100%;
    margin: auto 3vw;
    font-weight: 550;
    padding: 10px;
    text-transform: uppercase;
}

.navbar li a:hover {
    background-color: #333;
    border-top: 2px solid #00e5ff;
    transition: 0.2s;
}

.navbar {
    border-bottom: 2px solid #333;
}

.collapse form input[type="search"] {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 1vw;
    margin: 0.3vw;
    font-size: 100%;
    color: #00e5ff;
}

.collapse button {
    border: 2px solid white;
    color: white;
    padding: 0.3vw;
    font-size: 100%;
}

.collapse button:hover {
    border: 2px solid #00e5ff;
    background-color: #333;
    color: white;
    transition: 0.2s;
}

.navbar-brand {
    font-weight: 550;
    font-size: 1.4em;
    font-family: 'Turret Road', cursive;
}

/*  ------------------header--------------- */
#header h1 {
    font-weight: 600;
    font-family: 'Share Tech Mono', monospace;
    position: relative;
    left: 5%;
    margin: 5% auto;
    z-index: 1;
    font-size: 300%;
    display: inline-block;
}

#header button[type="button"] a {
    text-decoration: none;
    color: inherit;
    font-size: 120%;
    text-transform: uppercase;
}

#header button[type="button"] {
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin: 5% 10%;
    position: relative;
    /*    margin: calc(10%) auto;*/
    z-index: 1;
    /*    right: -30%;*/
    border: 2px solid #00e5ff;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#header button[type="button"]:hover {
    background: rgba(0, 229, 255, 0.2);
    border: 2px solid white;
}

#header h2 + .row {
    margin-top: 1%;
}

#header h2 {
    position: relative;
    margin: 20% 5%;
}

#header .col-md-6 {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
}

#header .gallery-box {
    padding: 2%;
    margin: 13% auto;
}

#header .gallery-box img {
    border-radius: 10px;

}

#header .gallery-box img:hover {
    box-shadow: 1px 2px 4px #00e5ff;
    transition: 0.3s;
}

#header .gallery-frame {
    padding: 10px;
}

/* -----------description------------- */
#description {
    padding: 50px;
    z-index: 1;
}

#description .details,
.game-description {
    padding: 20px;
}

#description .game-description-content,
#description .description-content {
    padding: 30px 20px;
    background: rgba(0, 0, 0, 0.3);
}

#header h2,
#description h2,
.trailer h2,
.requirements-content h2,
#categories h2 {
    font-size: 150%;
    font-weight: 300;
    margin-top: 10%;
    display: inline;
    padding-bottom: 5px;
    border-bottom: 1px solid #00e5ff;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

#header h2::after,
#description h2::after,
.trailer h2::after,
.requirements-content h2::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #323232;
    margin: 5px;
    bottom: -16px;
}

#description .buy {
    padding: 3%;
    margin-top: 70px;
}

/*----------right content----------*/
#description .details .description-content p {
    margin: 0.5em auto;
    padding: 0.3em;
    border-bottom: 1px solid #323232;
    min-width: 360px;
}

#description .details .description-content p:hover,
.description-content li:hover,
#requirements .requirements-content table tr:hover {
    background: rgba(255, 255, 255, 0.3);
    border-left: 2px solid #00e5ff;
    transition: 0.5s;
}

#description .details .description-content span,
#requirements .requirements-content table tr span {
    color: antiquewhite;
    font-family: 'Abel', sans-serif;
}

#description .description-content li {
    list-style: none;
    margin: 0.5em auto;
    border-bottom: 1px solid #323232;
    padding: 0.3em;
    min-width: 360px;
}

#description .description-content li img {
    height: 1.7em;
    width: auto;
}

/*----------------Trailer and Requirements----------*/
#requirements {
    padding-top: 5%;
    padding: 30px;
    z-index: 1;
}

#requirements .trailer,
.requirements-content {
    padding: 20px;
}

#requirements .trailer iframe {
    width: 100%;
    height: 440px;
    margin: 30px 20px;
}


/*----------------requirements right content---------------*/
#requirements .requirements-content table {
    margin-top: 2em;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.3);
}

#requirements .requirements-content table tr th {
    font-size: 1em;
    padding: 0.6em;
    font-weight: 500;
    text-align: left;
}

#requirements .requirements-content .first-row {
    border-bottom: 2px solid #424242;
    border-top: 2px solid #424242;
}

#requirements .requirements-content table .first-row:hover {
    background: inherit;
    border-left: none;
}

#requirements .requirements-content table tr td {
    font-size: .8em;
    padding: .5em;
}

/*--------------Pagination-----------------*/
#pagination {
    margin: 20px 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}

#pagination button a {
    text-decoration: none;
    color: inherit;
    font-size: 120%;
    font-weight: 550;
    text-transform: uppercase;

}

#pagination button {
    background: rgba(0, 229, 255, 0.3);
    padding: 10px;
    position: relative;
    margin: auto;
    border-radius: 5px;
    border: 1px solid white;
    display: block;
}

#pagination button:hover {
    background: rgba(0, 229, 255, 0.7);
    border: 2px solid white;
}

/*-------------Copyright---------------*/
#copyright {
    padding: 10px;
    text-align: center;
    margin-top: 5%;
}

#copyright h3 {
    font-size: 80%;
    color: #757575;
    font-family: 'Share Tech Mono', monospace;
}

/*---------------Categories----------------*/
#categories {
    margin: 3%;
    padding: 3%;
}

#categories h1 {
    padding: 1%;
    display: inline-block;
    font-weight: 550;
    letter-spacing: 1px;
    border: 1px solid #00e5ff;
    box-shadow: 2px 2px 2px #ffffff;

}

/*
#categories h1 + .container {
    margin: 5% auto!important;
}
*/

#categories .col-md-2 .img-fluid {
    min-height: 120px;
}

#categories .row .col-md-2 img {
    max-width: 220px;
    max-height: 100px;
    padding: 2%;
}

#categories .full-category .row .col-md-2 img {
    max-width: 220px;
    max-height: 200px;
    padding: 2%;
    position: relative;
}

#categories h2 + .col-md-12 {
    padding: 2%;
    margin: 1%;
    background: rgba(0, 0, 0, 0.6);
}

#categories .full-category .col-md-10 {
    padding: 2%;
}

#categories .col-md-8 .row,
#categories .full-category .row {
    margin: 2%;
    padding: 1% 1% 1% 1%;
    border: 1px solid #333;
}

#categories .col-md-8 .row:hover,
#categories .full-category .row:hover {
    background: linear-gradient(rgba(0, 225, 229, .3), rgba(0, 0, 0, .3));
    box-shadow: 3px 3px 10px #00e5ff;
    transition: 0.5s;

}

#categories .col-md-8 .row a,
#categories .full-category .row a {
    text-decoration: none;
    color: inherit;
    float: left;
    font-size: 140%;
    padding: 1%;
}

#categories .col-md-8 .row a:hover,
#categories .full-category .row a:hover {
    font-weight: 600;
}

#categories .col-md-4 img {
    margin: 5%;
    float: right;
}

#categories .col-md-4 h4 {
    margin-top: 5%;
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;
    color: antiquewhite;
}

#categories .col-md-4 h4::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #323232;
    margin: 5px;
    bottom: -16px;
}

#categories .view-more {
    text-decoration: none;
    color: green;
    font-size: 120%;
    padding: 2%;
}

#categories .view-more:hover {
    font-weight: 600;
}

#categories .col-md-8 .short-des,
#categories .full-category .short-des {
    padding: 2%;
    font-size: 80%;
    float: left;
}

#categories .col-md-8 .short-des a,
#categories .full-category .short-des a {
    font-size: inherit;
    color: green;
    float: none;
}

#categories .col-md-8 .short-des a:hover,
#categories .full-category .short-des a:hover {
    font-weight: 600;
}


/*-----------------------Home---------------------*/
#new,
#top {
    padding: 3%;
}

#new a,
#top a {
    text-decoration: none;
}

#new h3,
#top h3,
#about h3,
#dev h3,
#faq h3,
#contact h3 {
    font-size: 150%;
    font-weight: 200;
    margin-top: 20%;
    display: inline;
    padding-bottom: 7px;
    border-bottom: 1px solid #00e5ff;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}

#new h3::after,
#top h3::after,
#about h3::after,
#dev h3::after,
#faq h3::after,
#contact h3::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #757575;
    margin: 5px;
    bottom: -17px;
}

#new .col-md-3 {
    padding: 2%;
    margin: 3% auto;
}

#new .game {
    padding: 2%;
    margin: 5% auto;
    background: rgba(84, 110, 122, 0.1);
}

#new .game:hover,
#top .top-games:hover {
    box-shadow: 3px 3px 7px #757575;
    transition: .5s;
}

@media only screen and (min-width: 768px) {
    #new .streached {
        margin: calc(20%) auto;
    }
}

#new .game p,
#top .game-info p {
    padding: 2%;
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 0;
    color: #f2f4f4;
}

#new .game span,
#top .game-info span {
    font-size: 80%;
    padding: 1%;
    color: #616161;
    margin-top: 3%;
}

#new h3 + .row {
    background: rgba(84, 110, 122, 0.1);
}

#top .top-games {
    margin: 3% auto;
    padding: 2% auto;
    background: rgba(84, 110, 122, 0.1);
}

#top .game-banner {
    padding: 6%;
}

#top .game-banner img {
    max-height: 160px;
    position: relative;
}

#top .featured {
    margin: 5%;
}

#top .featured-banner:hover {
    box-shadow: 3px 3px 7px #757575;
    transition: .5s;
}

#top .featured-banner img {
    padding: 5%;
    background: rgba(84, 110, 122, 0.1);
}

#top .featured-middle img {
    /*    min-height: 140px;*/
    margin: auto 1%;
}


/*---------------------About-------------------*/
#about {
    margin: 5% 2%;
    padding: 1%;
}

#about span {
    font-size: 100%;
    font-weight: 100;
    text-transform: capitalize;
    font-family: 'Turret Road', cursive;
}

#about .header {
    text-align: center;
    margin: 5%;
}

#about .header h6 {
    font-weight: 550;
    padding: 4% 4% 2% 4%;
    font-size: 240%;
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
}

#about .header p {
    font-family: 'Poiret One', cursive;
    letter-spacing: 1px;
    font-size: 120%;
}

#about .details {
    margin-top: 8%;
}

#about .details h4 {
    font-family: 'Abel', sans-serif;
    margin-top: 2%;
    font-weight: lighter;
    font-size: 180%;
    color: rgba(132, 225, 225, 0.9);
}

#about .details .details-box {
    margin: 5% 3%;
    padding: 3%;
    background: rgba(216, 191, 197, 0.2);
}

#about .details .details-box h5 {
    color: rgba(132, 225, 225, 0.9);
    font-family: 'Abel', sans-serif;
    font-size: 140%;
    margin: 2% auto;
    letter-spacing: 1px;
}

#dev {
    margin: 5% 2%;
    margin-bottom: 1%;
    padding: 2%;
    padding-bottom: 1%;
}

#dev .dev-info {
    padding: 4%;
    margin: 3%;
    background: rgba(216, 191, 197, 0.2);
}

#dev .dev-info h5 {
    font-size: 140%;
    padding: 1%;
    font-family: 'Abel', sans-serif;
}

#dev .dev-info p {
    margin-left: 10%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    font-weight: 50;
    color: rgba(255, 255, 255, 0.85);
}

.fa-search {
    font-weight: 100;
    font-size: 360%;
    padding: 2%;
    background: linear-gradient(rgba(0, 225, 225, 0.2), rgba(40, 225, 225, 0.2));
    border-radius: 50%;
}

.fa-facebook-square,
.fa-linkedin,
.fa-twitter,
.fa-github,
.fa-instagram {
    font-size: 150%;
    margin: 2% 5%;
}

.fa-envelope,
.fa-mobile-alt {
    font-size: 120%;
    margin: 0 2%;
}

.fa-heart,
.fa-gem,
.fa-trophy {
    padding: 5%;
    border-radius: 50%;
    font-size: 300%;
    color: red;
    background: linear-gradient(rgba(0, 225, 225, 0.2), rgba(40, 225, 225, 0.2));
}


/*--------------------FAQ------------------*/
#faq,
#contact {
    margin: 5% 2% 1% 2%;
    padding: 3%;
}

#faq .que {
    margin: 2% auto;
    padding: 2%;
}

#faq .que details {
    margin: 3% auto;
}

#faq .que summary {
    font-size: 170%;
    color: #00e5ff;
}

#faq .que summary span {
    font-size: 100%;
    font-weight: 600;
    font-family: 'Abel', sans-serif;
}

#faq .que summary span:hover {
    color: #00e5ff;
}

#faq .que p {
    padding: 1% 3%;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #f4f6f6;
}

#faq .que .more {
    margin: 3% 1%;
    padding: 1%;
}

#faq .que .more h4 {
    font-size: 160%;
    font-weight: 600;
    padding: 1% auto;
    margin: 2% auto;
    color: #00e5ff;
}

#faq .que .more a {
    text-decoration: none;
    color: inherit;
    font-size: 120%;
}

#faq .que .more button {
    background: rgba(0, 229, 255, 0.3);
    padding: 10px 15px;
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
    display: inline-block;

}

#faq .que .more button:hover {
    background: rgba(0, 229, 255, 0.7);
    border: 2px solid white;
}

/*-----------------Contact us------------------*/
#contact .form-group {
    margin: 5% 1%;
    padding: 2%;
}

#contact .form-group input,
#contact .form-group textarea {
    background: rgba(169, 167, 170, 0.5);
    color: #00e5ff;
    margin: 3% auto;
}

#contact .form-group input::placeholder,
#contact .form-group textarea::placeholder {
    color: white;
}

#contact button {
    background: rgba(0, 229, 255, 0.3);
    padding: 10px 15px;
    position: relative;
    border-radius: 5px;
    border: 1px solid white;
    display: inline-block;
    font-size: 120%;
}

#contact button:hover {
    background: rgba(0, 229, 255, 0.7);
    border: 2px solid white;
}

#contact button[type="submit"] {
    margin-left: auto;
    margin-right: 1%;
}

#contact button[type="reset"] {
    margin-right: auto;
    margin-left: 1%;
}



/*-----------------------------------------------------------*/
/*-----------------------------------------------------------*/

@media only screen and (max-width: 770px) {
    * {
        font-size: 16px;
    }

    #new h3,
    #top h3,
    #about h3,
    #dev h3,
    #faq h3,
    #contact h3 {
        font-size: 150%;
    }

    #header h2,
    #description h2,
    .trailer h2,
    .requirements-content h2,
    #categories h2 {
        font-size: 150%;
        margin-top: 10%;
    }

    /*   -------------- navbar----------*/
    .collapse button {
        padding: 5px;
        font-size: 90%;
    }


    /*------------------Home---------------------*/
    #new .col-md-3 {
        padding: 2%;
        margin: 0;
    }

    #new .game {
        padding: 2%;
        margin: 2%;
    }

    #new .game p,
    #top .game-info p {
        font-size: 130%;
    }


    #top .game-banner img {
        max-height: 160px;
    }

    #top .game-banner {
        padding: 2%;
    }

    #top .top-games {
        margin: 2%;
        padding: 2%;
    }

    #top .featured {
        margin: 3%;
        padding: 2%;
    }

    #top .featured-banner img {
        padding: 2%;
    }

    #top .featured-middle img {
        margin: 0%;
    }

    /*---------------Categories----------------*/
    #categories {
        margin: 2%;
        padding: 2%;
    }

    #categories h1 {
        padding: 3%;
        font-size: 140%;
    }

    #categories h2 + .col-md-12 {
        padding: 1%;
        margin: 1%;
    }

    #categories .col-md-8 .row,
    #categories .full-category .row {
        margin: 1%;
        padding: 1% 1% 1% 1%;
    }

    #categories .col-md-8 .row a,
    #categories .full-category .row a {
        font-size: 120%;
    }

    #categories .col-md-4 img {
        margin: 3% 0;
        padding: 1%;
    }

    #categories .col-md-4 h4 {
        margin-top: 7%;
    }

    #categories .col-md-8 .short-des a,
    #categories .full-category .short-des a {
        font-size: inherit;
        color: green;
        float: none;
    }

    #categories span {
        margin-top: 10%;
    }

    #categories .full-category .row .col-md-2 img {
        padding: 2%;
        margin: 1%;
    }

    /*    -------------Contact-----------------*/
    #contact button {
        padding: 10px 15px;
        font-size: 100%;
    }

    #contact .form-group input,
    #contact .form-group textarea {
        margin-top: 20px;
    }

    #contact button[type="submit"] {
        margin-right: 5%;
    }

    #contact button[type="reset"] {
        margin-left: 5%;
    }

    #contact .form-group input::placeholder,
    #contact .form-group textarea::placeholder {
        font-size: 90%;
        font-weight: lighter;
    }


    /*   ----------------About---------------- */
    #about .header p {
        font-size: 100%;
    }

    #about .header h6 {
        font-size: 180%;
    }

    #about details h4 {
        margin-top: 2%;
        font-size: 150%;
    }

    #about .details .details-box h5 {
        font-size: 120%;
    }

    #dev .dev-info p span {
        letter-spacing: 0.5px;
        font-size: 90%;
    }

    .fa-search {
        padding: 5%;
    }

    /*---------------FAQ----------------*/

    #faq .que summary {
        font-size: 110%;
    }

    #faq .que p {
        padding-left: 5%;
        word-spacing: 1px;
        font-size: 80%;
    }

    #faq .que .more {
        font-size: 80%;
    }

    #faq .que .more a {
        font-size: 100%;
    }

    #faq .que .more button {
        padding: 8px 10px;
        display: flex;
    }

    /* -----------description------------- */
    #description {
        padding: 5px;
    }

    #description .details,
    #description .game-description {
        padding: 5px;
        margin-top: 5%;
    }

    #description .game-description-content,
    #description .description-content {
        padding: 15px 10px;
    }

    #description .buy {
        padding: 2%;
        margin-top: 30px;
    }

    /*----------right content----------*/
    #description .details .description-content p {
        margin: 0.1em auto;
        padding: 0.2em;
    }

    #description .description-content li {
        margin: 0.3em auto;
        padding: 0.2em;
    }

    /*----------------Trailer and Requirements----------*/
    #requirements {
        padding: 5% 5px;
    }

    #requirements .trailer,
    .requirements-content {
        padding: 5px;
        margin-top: 5%;
    }

    #requirements .trailer iframe {
        width: 100%;
        height: auto;
        margin: 10px 5px;
    }


    /*----------------requirements right content---------------*/
    #requirements .requirements-content table {
        margin-top: 1.5em;
    }

    #requirements .requirements-content table tr th {
        font-size: 1.2em;
        padding: 0.4em;
    }

    #requirements .requirements-content table tr td {
        font-size: 1em;
        padding: .4em;
    }

    /*--------------Pagination-----------------*/
    #pagination {
        margin: 10px 20px;
        padding: 5px;
    }

    #pagination button a {
        font-size: 110%;
    }

    /*  ------------------header--------------- */
    #header h1 {
        left: 0;
        font-size: 200%;
    }

    #header button[type="button"] a {
        font-size: 100%;
    }

    #header button[type="button"] {
        margin: 5% 10%;
        /*        right: 0;*/
        padding: 8px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
    }

    #header .gallery-box {
        margin: 3% auto;
    }

    #header .gallery-frame {
        display: none;
    }

}
